/*  your css code here. If applicable */

.header{
	height: 100px;
	width: 100%;
	background-color: green;
	margin-bottom:3px;
}
.main-container{
	display: flex;
}
.sidebar{
	height: 400px;
	width: 25%;
	background-color: green;
}
.container{
	width:75%;
}
.section{
	height:100px;
	display: flex;
	
}
.box-25{
	width:33%;
	background-color: green;
	margin:3px;
	
}
.box-50{
	width:66%;
	background-color: green;
	margin:3px;
}
.box-75{
	width:100%;
	background-color: green;
	margin:3px;
}
	
