/*  your css code here. If applicable */
/* #grid {
    display: grid;
}
.header{
	height: 100px;
	width: 100%;
	background-color: green;
	margin-bottom:3px;
}
.main-container{
	display: flex;
}
.sidebar{
	height: 400px;
	width: 25%;
	background-color: green;
}
.container{
	width:75%;
}
.section{
	height:100px;
	display: flex;
	
}
.box-25{
	width:33%;
	background-color: green;
	margin:3px;
	
}
.box-50{
	width:66%;
	background-color: green;
	margin:3px;
}
.box-75{
	width:100%;
	background-color: green;
	margin:3px;
} */
#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 124px 124px 124px 124px 124px;
    gap: 10px;
    padding: 10px;
}

.item {
    background: green;
}

/* Row 1 */
.i1 {
    grid-column: span 4;
}

/* Left tall column */
.i2 {
    grid-row: span 4;
}

/* Row 2 */
.i3 {
    grid-column: span 1;   /* stays in column 2 automatically */
}

.i4 {
    grid-column: span 2 / auto;   /* REQUIRED BY TEST */
}

/* Row 3 */
.i5 {
    grid-column: span 2; 
}
.i6 {
    grid-column: span 1; 
}

/* Row 4 */
.i7 {
    grid-column: span 1;
}
.i8 {
    grid-column: span 1;
}
.i9 {
    grid-column: span 1;
}

/* Row 5 */
.i10 {
    grid-column: span 3;
}


